.projects-container {
    text-align: center;
    padding: 2rem;
}

.carousel {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: visible;
    border: 2px solid var(--secondary);
    padding: 1rem 0;
}

.carousel-track-container {
    overflow: visible;
    position: relative;
}

.carousel-slide.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
    transition: transform 0.3s ease, visibility 0.3s ease, opacity 0.3s ease;
}

.carousel-slide.expanded .project-box {
    position: relative;
    z-index: 10;
    height: 60vh;
    margin-top: 0;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0;
}

.carousel-slide {
    flex: 0 0 25%;
    width: 25%;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.project-box {
    background-color: var(--accent);
    border: solid 1px var(--secondary);
    padding: 2rem;
    width: 100%;
    text-align: center;
    margin-top: 3vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-slide img {
    width: 100%;
    max-height: 30vh;
    margin: auto;
    border-radius: 1rem;
    opacity: 70%;
}

.project-box .button {
    min-height: 1rem;
    margin-top: auto;
    padding: 1rem 3rem;
    position: absolute;
    bottom: 1rem;
}

.project-box .button.hidden {
    display: none;
}

.carousel-slide.expanded {
    transform: scale(1.2);
    z-index: 10;
}

.carousel-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.carousel-btn {
    background-color: var(--main);
    border: none;
    color: var(--secondary);
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
}

.carousel-nav {
    display: flex;
    gap: 0.5rem;
}

.carousel-nav button {
    background: var(--accent);
    border: solid 1px var(--secondary);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.carousel-nav button.active {
    background: var(--secondary);
}
